<ul class="mt-2 ml-3 nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" routerLink="/rolesettings/display-role">Display Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rolesettings/create-role">Create Role</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rolesettings/set-rate">Role's Rate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rolesettings/delete-role">Delete Role</a>
        </li>
</ul>