<div class="container mt-5 p-5" id="roleCreatorComponent">
    <form #roleCreatorForm="ngForm" (ngSubmit)="onSubmit(roleCreatorForm)">
        <div>
                <h2 class="mb-2 ml-3">Create New Role</h2>
            <div class="m-3 form-group">
                <div>
                    <span class="mb-2">Role Name : </span>
                    <input type="text" [(ngModel)]="role.roleName" class="form-control" name="roleName" id="roleName" placeholder="Role Name ..." required>    
                </div>
                <div class="mt-2">
                    <span>Rate : </span>
                    <input [(ngModel)]="role.roleRate" type="number" step="0.01" class="form-control" name="rate" id="rate" placeholder="Rate ..." required>      
                </div>  
                <button type="submit" class="mt-3 btn btn-primary" [disabled]="!roleCreatorForm.form.valid">Create</button>
                <div class="mt-2 errorMsg" *ngIf="errorMsg">{{displayMsg}}</div>
                <div class="mt-2 successMsg" *ngIf="successMsg">
                        <div>{{displayMsg}}</div>
                </div>
            </div>
        </div>
    </form>
</div>