<div class="container mt-5 p-5" id="checkInComponent">
    <form #checkInForm="ngForm" (ngSubmit)="onSubmit(checkInForm)">
        <div>
            <h2 class="mb-4 ml-3">Project Check-In</h2>
            <div class="m-3 form-group">
                <div class="mb-2">Role : </div>
                <div *ngFor="let role of roles">
                    <input type="radio" value="{{role}}" [(ngModel)]="role" name="projectRole" #projectRole="ngModel" required>
                    {{role}}
                </div>
            </div>

            <div class="m-3 form-group">
                <div class="mb-2">Project : </div>
                <div class="input-group">
                    <input [(ngModel)]="project.name" type="text" class="form-control" id="projectName" placeholder="Project Name..." name="projectName" required minlength="2" #projectName="ngModel">
                    {{projectName.className}}
                    <div class="input-group-append">
                        <button class="btn btn-primary" [disabled]="!checkInForm.form.valid"type="submit" >Check In</button>
                    </div>
                </div>
                <div [hidden]="projectName.valid||projectName.untouched" class="alert alert-danger">The project name is required</div>
                <div class="ml-2 errorMsg" *ngIf="errorMsg">{{displayMsg}}</div>
                <div class="ml-2 successMsg" *ngIf="successMsg">
                        <div>{{displayMsg}}</div>
                </div>
            </div>            
        </div>
    </form>
</div>
